<div class="form-auth">
  <h2 class="auth info">Изменение пароля</h2>
  <% if alert -%>
    <div class="alert alert-error"><%= alert %></div>
  <% end -%>
  <% if notice -%>
    <div class="alert alert-info"><%= notice %></div>
  <% end -%>
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :method => :put, :html => { :class => 'auth_form form-vertical' }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <%= f.input :password, :autofocus => true %>
    <%= f.input :password_confirmation %>

    <%= f.submit "Сохранить", :class => 'btn btn-info' %>
    <div class="controls shared-links">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

  
</div>
