<div class="form-auth">
  <h2 class="auth info">Забыли пароль?</h2>
  <% if alert -%>
    <div class="alert alert-error"><%= alert %></div>
  <% end -%>
  <% if notice -%>
    <div class="alert alert-info"><%= notice %></div>
  <% end -%>
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'auth_form form-vertical', :method => :post }) do |f| %>
    
    <%= f.input :email, :autofocus => true %>
    <div class="controls shared-links">
      <%= render "devise/shared/links" %>
    </div>
    <%= f.submit "Восстановить", :class => 'btn btn-info' %>
    
  <% end %>

  
</div>
