<div class="form-auth">
  <h2 class="auth info">Авторизация</h2>
  <% if alert -%>
    <div class="alert alert-error"><%= alert %></div>
  <% end -%>
  <% if notice -%>
    <div class="alert alert-info"><%= notice %></div>
  <% end -%>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'auth_form form-vertical' }) do |f| %>
    
    <%= f.input :username, :autofocus => true, :input_html => { :class => 'span12' } %>
    <%= f.input :password, :input_html => { :class => 'span12' } %>
    <div class="clearfix">
      <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, :label => false, :wrapper_html => { :class => 'pull-left' } do -%>
          <label class="checkbox">
            <%= f.check_box :remember_me %> <%= t('activerecord.attributes.user.remember_me') %>
          </label>
        <% end -%>
      <% end -%>
      <div class="controls shared-links pull-right">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <%= f.submit "Войти", :class => 'btn btn-info' %>
    
  <% end %>

  
</div>


