html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#loading {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -70px;
}
#loading .title {
  font-family: sans-serif;
  color: gray;
  font-size: 2em;
  display: block;
  text-align: center;
  white-space: nowrap;
}

#loading .logo {
  background: url(<%= asset_path '/assets/loading.gif' %>) no-repeat center;
  display: block;
  height: 120px;
}
