/*
 * RangeMenu Styles
 */

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}

.ux-rangemenu-gt {
    background-image: url("<%= asset_path 'greater_than.png' %>") !important;
}

.ux-rangemenu-lt {
    background-image: url("<%= asset_path 'less_than.png' %>") !important;
}

.ux-rangemenu-eq {
    background-image: url("<%= asset_path 'equals.png' %>") !important;
}
