.enable-word-wrap {
  .x-grid-cell-inner {
    white-space: normal;
  }
}
.enable-cell-borders {
  .x-grid-cell {
    border-left-color: #fafafa;
    border-right-color: #ededed;
    border-width: 1px;
  }
}

.grid-tenders {
  .x-column-header-inner {
    line-height: normal;
    white-space: normal;
    .x-column-header-text {
      white-space: normal;
    }
  }
}

.hack-scroll .x-grid-table {
  margin-bottom: 18px !important;
}

.table-parties {
  width: 100%;
  table-layout: fixed;
  tr {
    td {
      border-bottom: 1px solid #ededed;
      &:first-child {
        width: 250px;
        border-right: 1px solid #ededed;
      }

      .company {
        width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }

}

.x-grid-row-editor-buttons {
  width: 200px;
  margin: 0 auto;

  span {
    margin: 0 auto;
  }
}

.hideAcceptBtn {
  display: none !important;
}

.check_provisions_date, .uncheck_provisions_date {
  display: inline-block;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.uncheck_provisions_date {
  background: url("/assets/minus-circle.png") no-repeat center center;
}

.check_provisions_date {
  background: url("/assets/accept.png") no-repeat center center;
}
