@import "compass/css3/images";

.infoPanel__title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
}
.infoPanel__infoList {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 0.8em;
  dt {
    font-weight: bold;
    display: block;
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  dd {
    margin-left: 180px;
    margin-bottom: 10px;
    min-height: 17px;
  }
}

.defaultToolbar__switcher {
  .x-toggle {
    height: 1.5em !important;
  }
  .x-thumb:after {
    height: 1.1em !important;
  }
  .x-form-label {
    font-size: 0.65em;
    line-height: 29px !important;
  }
  .x-toggle-on {
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: rgb(17,89,140); // Old browsers
    @include filter-gradient(#11598c, #1e93e4, vertical); // IE6-9
    @include background-image(linear-gradient(top,  rgb(17,89,140) 0%,rgb(22,118,185) 28%,rgb(32,123,234) 65%,rgb(30,147,228) 100%));
  }
  .x-component-outer {
    margin-top: 0 !important;
  }
}
