<%= t("activerecord.models.tender.one") %> #<%= @tender.id %>
=============================================================

"<%= @comment %>"
<%= @user.fullname %>

=============================================================

<%= t("activerecord.attributes.tender.subject") %>:
<%= @tender.subject %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.customer") %>:
<%= @tender.customer_name %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.contractors_hk") %>:
<% @tender.contractors_hk.collect{|c| c.name }.join(";\r\n") %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.declared_at") %>:
<%= @tender.declared_at.present? ? l(@tender.declared_at) : nil %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.opening_at") %>:
<%= @tender.opening_at.present? ? l(@tender.opening_at) : nil %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.provision") %>:
<%= @tender.provision_name %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.price_provision") %>:
<%= number_to_currency(@tender.price_provision, separator: ',', delimiter: ' ') %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.price_limit") %>:
<%= number_to_currency(@tender.price_limit, separator: ',', delimiter: ' ') %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.winner") %>:
<%= @tender.winner_name %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.price_winner") %>:
<%= number_to_currency(@tender.price_winner, separator: ',', delimiter: ' ') %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.documentation") %>:
<%= @tender.documentation %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.estimates") %>:
<%= @tender.estimates %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.requirements") %>:
<%= @tender.requirements %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.price_cost") %>:
<%= number_to_currency(@tender.price_cost, separator: ',', delimiter: ' ') %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.price_our") %>:
<%= number_to_currency(@tender.price_our, separator: ',', delimiter: ' ') %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.cost_at") %>:
<%= @tender.cost_at.present? ? l(@tender.cost_at) : nil %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.gpr_at") %>:
<%= @tender.gpr_at.present? ? l(@tender.gpr_at) : nil %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.estimates_at") %>:
<%= @tender.estimates_at.present? ? l(@tender.estimates_at) : nil %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.ready_at") %>:
<%= @tender.ready_at.present? ? l(@tender.ready_at) : nil %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.archive") %>:
<%= @tender.archive ? t("yes") : t("no") %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.created_at") %>:
<%= l(@tender.created_at) %>

---------------------------------------------------

<%= t("activerecord.attributes.tender.comments") %>:
<% @tender.comments.collect{|c| "#{l(c.created_at)} - #{c.user_fullname}\r\n#{c.comment}" }.join("\r\n----------\r\n") %>

