<!DOCTYPE html>
  <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t("activerecord.models.tender.one") %> #<%= @tender.id %></h1>

    <blockquote>
      <p><%= @comment %></p>
      <small><%= @user.fullname %></small>
    </blockquote>

    <br>

    <dl>
      <dt><%= t("activerecord.attributes.tender.subject") %></dt>
      <dd><%= @tender.subject %></dd>

      <dt><%= t("activerecord.attributes.tender.customer") %></dt>
      <dd><%= @tender.customer_name %></dd>

      <dt><%= t("activerecord.attributes.tender.contractors_hk") %></dt>
      <dd>
        <ul>
          <% @tender.contractors_hk.each do |c| %>
            <li><%= c.name %></li>
          <% end %>
        </ul>
      </dd>

      <dt><%= t("activerecord.attributes.tender.declared_at") %></dt>
      <dd><%= @tender.declared_at.present? ? l(@tender.declared_at) : nil %></dd>

      <dt><%= t("activerecord.attributes.tender.opening_at") %></dt>
      <dd><%= @tender.opening_at.present? ? l(@tender.opening_at) : nil %></dd>

      <dt><%= t("activerecord.attributes.tender.provision") %></dt>
      <dd><%= @tender.provision_name %></dd>

      <dt><%= t("activerecord.attributes.tender.price_provision") %></dt>
      <dd><%= number_to_currency(@tender.price_provision, separator: ',', delimiter: ' ') %></dd>

      <dt><%= t("activerecord.attributes.tender.price_limit") %></dt>
      <dd><%= number_to_currency(@tender.price_limit, separator: ',', delimiter: ' ') %></dd>

      <dt><%= t("activerecord.attributes.tender.winner") %></dt>
      <dd><%= @tender.winner_name %></dd>

      <dt><%= t("activerecord.attributes.tender.price_winner") %></dt>
      <dd><%= number_to_currency(@tender.price_winner, separator: ',', delimiter: ' ') %></dd>

      <dt><%= t("activerecord.attributes.tender.documentation") %></dt>
      <dd><%= @tender.documentation %></dd>

      <dt><%= t("activerecord.attributes.tender.estimates") %></dt>
      <dd><%= @tender.estimates %></dd>

      <dt><%= t("activerecord.attributes.tender.requirements") %></dt>
      <dd><%= @tender.requirements %></dd>

      <dt><%= t("activerecord.attributes.tender.price_cost") %></dt>
      <dd><%= number_to_currency(@tender.price_cost, separator: ',', delimiter: ' ') %></dd>

      <dt><%= t("activerecord.attributes.tender.price_our") %></dt>
      <dd><%= number_to_currency(@tender.price_our, separator: ',', delimiter: ' ') %></dd>

      <dt><%= t("activerecord.attributes.tender.cost_at") %></dt>
      <dd><%= @tender.cost_at.present? ? l(@tender.cost_at) : nil %></dd>

      <dt><%= t("activerecord.attributes.tender.gpr_at") %></dt>
      <dd><%= @tender.gpr_at.present? ? l(@tender.gpr_at) : nil %></dd>

      <dt><%= t("activerecord.attributes.tender.estimates_at") %></dt>
      <dd><%= @tender.estimates_at.present? ? l(@tender.estimates_at) : nil %></dd>

      <dt><%= t("activerecord.attributes.tender.ready_at") %></dt>
      <dd><%= @tender.ready_at.present? ? l(@tender.ready_at) : nil %></dd>

      <dt><%= t("activerecord.attributes.tender.archive") %></dt>
      <dd><%= @tender.archive ? t("yes") : t("no") %></dd>

      <dt><%= t("activerecord.attributes.tender.created_at") %></dt>
      <dd><%= l(@tender.created_at) %></dd>

      <dt><%= t("activerecord.attributes.tender.comments") %></dt>
      <dd>
        <ul>
          <% @tender.comments.each do |c| %>
            <li>
              <%= l(c.created_at) %> - <%= c.user_fullname %>
              <div><%= c.comment %></div>
              <hr>
            </li>
          <% end %>
        </ul>
      </dd>
    </dl>
  </body>
</html>
