<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= t('site_name') %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    :theme_classic, :media => 'all', :id => 'theme_switching' %>
    <%= stylesheet_link_tag    :application, :media => 'all' %>

    <%= javascript_include_tag 'vendor/modernizr.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <!-- Пока что в CDN нет версии 4.2.1 //-->
    <!-- <script type="text/javascript" src="http://cdn.sencha.io/ext-4.2.0-gpl/ext-all.js"></script> //-->
    <%= javascript_include_tag 'i18n', '/javascripts/translations' %>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= javascript_include_tag :ext %>
    <%= javascript_include_tag :application %>
  </body>
</html>
