<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= t('site_name') %></title>
    <meta name="description" content="<%= t('site_name') %>">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="1024">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path 'apple-touch-icon-144x144-precomposed.png' %>">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path 'apple-touch-icon-114x114-precomposed.png' %>">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path 'apple-touch-icon-72x72-precomposed.png' %>">
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path 'apple-touch-icon-57x57-precomposed.png' %>">
    <link rel="shortcut icon" href="<%= asset_path 'apple-touch-icon.png' %>">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="<%= asset_path 'apple-touch-icon-144x144-precomposed.png' %>">
    <meta name="msapplication-TileColor" content="#222222">


    <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    <!--
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    -->

    <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
    <!--
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
    -->
    <%= stylesheet_link_tag    :mobile, :media => 'all' %>
    <%= javascript_include_tag 'vendor/modernizr.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <!-- Add your site or application content here -->

  <%= yield %>

  <%= javascript_include_tag 'i18n', '/javascripts/translations' %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>

  <%= javascript_include_tag :touch %>
  <%= javascript_include_tag :mobile %>
  </body>
</html>
